.banner_principal {
    display: flex;
}
.banner_principal_texto {
    width: 570px;
    height: 300px;
    margin: 2rem 0;
}
.banner_titulo {
    margin-bottom: 3rem;
}
.banner_titulo h2 {
    padding-left: 1rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-radius: 5rem;
    width: 275px;
}

.banner_principal_imgs {
    width: 570px;
}
.sobre {
    display: flex;
}
.sobre_texto {
    width: 820px;
    margin-right: 2rem;
}

.sobre_icone {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}
.descontos_associados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    border-radius: 1rem;
    width: 240px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.descontos_associados_img {
    width: 4.5vw;
}

@keyframes top {
    to {
        margin: 0;
    }
    from {
        margin: 5rem 0px;
    }
}

.banner_principal_img {
    animation-name: top;
    animation-duration: 3s;
}

.itens {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.mapa_contato {
    display: flex;
}

.fundo_contato {
    position: absolute;
    margin: 0 -500px;
}

.formulario {
    position: absolute;
    margin: 3rem -20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_especifico {
    border: 2px solid #000;
    border-radius: 2rem;
    padding: 3px 1rem;
    margin: 10px 0;
}

.formulario_form {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.texto_mobile {
    margin: 0 2rem;
    height: 350px;
}
.logocode {
    position: absolute;
    margin: 0rem 10rem;
}

.p_objetivos h2 {
    padding-left: 1rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-radius: 5rem;
    width: 395px;
}
.p_conhecimento h2 {
    padding-left: 1rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-radius: 5rem;
    width: 515px;
}
.p_integracao h2 {
    padding-left: 1rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-radius: 5rem;
    width: 465px;
}
.p_qualidade_vida h2 {
    padding-left: 1rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-radius: 5rem;
    width: 785px;
}

@media screen and (orientation: portrait), (max-width: 1000px) {
    .mobile_none,
    .fundo_contato,
    .dividir {
        display: none;
    }
    .servicos_associados,
    .mapa_contato {
        display: block;
    }
    .servicos_associados_txt {
        margin-top: 0;
    }
    .noticias_titulo {
        margin-top: 3rem;
    }
    .noticias {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .img_veja {
        width: 100vw;
        margin: 11px 0;
        background-color: rgba(0, 0, 0, 0.035);
        border-radius: 2rem;
    }
    .parceiro_img {
        margin: 1rem;
        width: 18rem;
    }
    .mapa_contato iframe {
        width: 100%;
    }
    .formulario {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .texto_mobile {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .logocode {
        position: relative;
        margin: 5rem 0 1rem 0;
    }
    .banner_txt {
        width: 90vw;
        flex-direction: column;
        margin: 45vw 0;
        padding: 1rem;
    }
    .banner_img {
        width: 90vw;
        height: 450px;
        background-color: darkgrey;
        border-radius: 1rem 1rem 1rem 1rem;
    }
    .card_associado {
        width: 90vw;
    }

    .banner_principal,
    .sobre {
        display: block;
    }
    .banner_principal_texto,
    .sobre_texto,
    .sobre_icone {
        width: 90vw;
        height: auto;
        text-align: justify;
    }
    .banner_principal_img {
        width: 90vw;
    }
    .banner_titulo h2 {
        width: 90vw;
        text-align: center;
        padding: 0;
    }
    .sobre_icone > div > h3 {
        text-align: center !important;
    }

    .p_objetivos h2 {
        text-align: center;
        width: 90vw;
    }
    .p_conhecimento h2 {
        text-align: center;
        width: 90vw;
    }
    .p_integracao h2 {
        text-align: center;
        width: 90vw;
    }
    .p_qualidade_vida h2 {
        text-align: center;
        padding: 1rem 0;
        width: 90vw;
    }
}
